.left-part {
    width: 50%;
    margin-top: 197px;
}

.span {
    color: #8382EB;
}

.start-btn {
    background-color: #264373;
    font-family: 'Popins';
    color: white;
}

.lrn-btn {
    font-family: 'Popins';
    margin-left: 30px;
    color: #264373;
    background-color: #FFFFFF;
}

.brands {
    margin-top: 51px;
    margin-bottom: 29px;
    font-size: 16px;
    font-family: 'Popins';
}

.img-1 {
    margin-top: 53px;
    width: 360px;
    height: 580px;
}