.left-part {
    width: 50%;
    margin-top: 197px;
}

.span {
    color: #8382EB;
}

.start-btn {
    background-color: #264373;
    font-family: 'Popins';
    color: white;
}

.lrn-btn {
    font-family: 'Popins';
    margin-left: 30px;
    color: #264373;
    background-color: #FFFFFF;
}

.brands {
    margin-top: 51px;
    margin-bottom: 29px;
    font-size: 16px;
    font-family: 'Popins';
}

.img-1 {
    margin-top: 53px;
    width: 360px;
    height: 580px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .health {

        flex-direction: column;
        justify-content: center !important;

    }

    .left-part {
        margin-top: 60px !important;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .img-1 {
        width: 200px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 72px;
    }
}